<!DOCTYPE html>
<html>
  <title>Arkidia</title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="style/style-site.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"/>
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bodymin-animation.min.js" type="text/javascript"></script>
  <script src="js/bodymovin.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <body>

    <div id="menu-arkidia">
      <menu-arkidia :datamenu="datamenu"></menu-arkidia>
    </div>

    <div id="app">

      <inicio-arkidia v-if="!logged"></inicio-arkidia>

      <section style="margin-top: 100px">
        <h1 class="titulo">Miles de proyectos con videos paso a paso</h1>
        <img
        src="images/site/challenges.svg"
        id="challenges"
        alt="Miles de proyectos"
        style="padding-top: 50px; padding-bottom:50px"
      />
        
      </section>



      <arkidians v-if="logged && padre"></arkidians>



       
      <div style="text-align: center; margin-top: 100px">
      <img
      src="images/site/ver.svg"
      id="challenges"
      alt="Miles de proyectos"
      style="width:100%"
    />

      <categorias v-if="(logged && (padre||hijo)) || !logged" 
      style="
      background-color: #ececec;
      padding-top: 50px;
      padding-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px;"
      ></categorias>
      <img
      src="images/site/paint-grey.svg"
      id="challenges"
      alt="Miles de proyectos"
      style=" margin-left: 20px;
      margin-right: 20px;"
    />
    </div>


    <div style="text-align: center">
        <img
        src="images/site/crear.svg"
        id="challenges"
        alt="Miles de proyectos"
        style="width:100%; margin-top: 100px"
      />
        <div v-if="(logged && (padre||hijo)) || !logged" 
        style="
        background-color: #ececec;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        height: 600px"
        ></div>
        <img
        src="images/site/paint-grey.svg"
        id="challenges"
        alt="Miles de proyectos"
        style=" margin-left: 20px;
        margin-right: 20px;"
      />
      </div>
  

   <div style="text-align: center">
        <img
        src="images/site/compartir.svg"
        id="challenges"
        alt="Miles de proyectos"
        style="width:100%; margin-top: 100px"
      />
        <div v-if="(logged && (padre||hijo)) || !logged" 
        style="
        background-color: #ececec;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        height: 600px"
        ></div>
        <img
        src="images/site/paint-grey.svg"
        id="challenges"
        alt="Miles de proyectos"
        style=" margin-left: 20px;
        margin-right: 20px;"
      />
      </div>
  

      <section style="margin-top: 100px">
            <div class="card-group" style="justify-content: center;">
              <div class="card mb-4" style="min-width: 300px; max-width:500px;border:0px">
                  <div class="row no-gutters" style="text-align:center">
                    <div class="col-md-6" >
                        <img
                        src="images/site/inmersivo.svg"
                        id="challenges"
                        alt="Inmersivo"
                        style="width:200px"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="titulo">Inmersivo</h5>
                        <p class="card-text">Los chicos pasan de ser espectadores a protagonistas</p>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="card mb-4" style="min-width: 300px;max-width:500px;border:0px">
                  <div class="row no-gutters" style="text-align:center">
                    <div class="col-md-6" >
                        <img
                        src="images/site/calidad.svg"
                        id="challenges"
                        alt="Inmersivo"
                        style="width:200px"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="titulo">de Calidad</h5>
                        <p class="card-text">El contenido y la experiencia de aprendizaje es la base de todo lo que hacemos.</p>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="card mb-4" style="min-width: 300px;max-width:500px;border:0px">
                  <div class="row no-gutters" style="text-align:center">
                    <div class="col-md-6">
                        <img
                        src="images/site/seguro.svg"
                        id="challenges"
                        alt="Seguro"
                        style="width:200px"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="titulo">Seguro</h5>
                        <p class="card-text">El aprendizaje de los chicos se da en un espacio protegido. Sin bullies, sin mayores.</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

        </section>



        <div class="card" style="border:0px; padding:20px">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/site/profile.svg" style="max-width: 100px;" class="img img-rounded img-fluid"/>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <strong>Maniruzzaman Akash</strong>
                       </p>
                       <p>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                      </p>
                       <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:0px; padding:20px">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/site/profile.svg" style="max-width: 100px;" class="img img-rounded img-fluid"/>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <strong>Maniruzzaman Akash</strong>
                       </p>
                       <p>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                      </p>
                       <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:0px; padding:20px">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/site/profile.svg" style="max-width: 100px;" class="img img-rounded img-fluid"/>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <strong>Maniruzzaman Akash</strong>
                       </p>
                       <p>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                          <img src="images/site/star.svg" style="width:20px"/>
                      </p>
                       <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    </div>
                </div>
            </div>
        </div>


        <div style="color: white; text-align: center ;background-image: url(images/site/ark-background.svg);background-size:cover; height: 600px;">
          <h1 class="titulo" style="padding-top:150px; padding-left: 20px;padding-right:20px">"Uno aprende haciendo las
              cosas;<br> porque aunque piense 
              que sabe, no tiene la certeza 
              hasta que lo intenta"</h1>
              <p>Sófocles, Siglo 5 A.C.</p>
        </div>



      <administrador v-if="logged && admin"></administrador>




      <!-- Modal login-->
      <div
        class="modal fade"
        id="login"
        tabindex="-1"
        role="dialog"
        aria-labelledby="loginCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding:0px">
              <img
                src="images/logo.svg"
                id="icon"
                alt="User Icon"
                style="padding: 20px"
              />
              <!-- Login Form -->
              <form style="margin: 20px">
                  <div class="form-group">
                      <label>Usuario</label>
                      <input type="email" class="form-control" v-model="login.usuario"  aria-describedby="emailHelp" placeholder="Ingresá tu correo electrónico o usuario">
                  </div>

                  <div class="form-group">
                      <label>Contraseña</label>
                      <input type="password" class="form-control" v-model="login.password"  placeholder="Ingresá tu contraseña">
                  </div>

                <h6 v-if="loginError" style="color: darkred">
                  {{mensajeErrorLogin}}
                </h6>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Cerrar
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="hacerLogin(login)"
                >Ingresar
                </button>
              </form>

              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="correo.php"
                  >Olvidé mi contraseña</a
                >
                <a class="underlineHover" data-toggle="modal" data-target="#register" data-dismiss="modal">Registrarme</a>
                <img
                  class="login-background"
                  src="images/background-bottom.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Registro -->
      <div
        class="modal fade"
        id="register"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h4>Registrarme en Arkidia</h4>
              <form style="margin: 20px">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" v-model="register.nombre" placeholder="Ingresá tu nombre">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" v-model="register.apellido" placeholder="Ingresá tu apellido">
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input type="text" class="form-control" v-model="register.correo" placeholder="Ingresá tu correo electrónico">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" v-model="register.password" placeholder="Ingresá tu contraseña">
                </div>
                <div class="form-group">
                    <label>Confirmá tu contraseña</label>
                    <input type="password" class="form-control" v-model="register.confirm" placeholder="Ingresá tu contraseña nuevamente">
                </div>
                <h6 v-if="registerError" style="color: darkred">
                  {{registerMsg}}
                </h6>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Cerrar
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="hacerRegistro(register)"
                >Registrarme
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="js/animaciones.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
    <script src="js/menu-arkidia.js" type="text/javascript"></script>

  </body>
</html>
