<!DOCTYPE html>
<html>
<title>Administración del sitio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/style-site.css">
<link rel="stylesheet" href="admin/style/material-dashboard.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/bodymin-animation.min.js" type="text/javascript"></script>
<script src="js/bodymovin.js"></script>


<body>

    <div id="menu-arkidia">
        <menu-arkidia :datamenu="datamenu"></menu-arkidia>
    </div>

            
    <div id="app" >
        <restringido v-if="!admin || !logged"></restringido>    
    <section v-if="admin && logged" > 
        <h1 class="titulo" style="margin:10px">Nuevo curso</h1>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div v-if="curso.nombre > '' && curso.categoria > ''" class="card-header card-header-primary">
                            <h4 class="card-title">{{curso.nombre}} - {{curso.detalleCreado}}</h4>

                            <a class="card-category">{{curso.categoria.nombre}}</a>
                            <a class="estado-borrador" v-if="curso.estado==='B'">borrador</a>
                            <a class="estado-publicado" v-if="curso.estado==='P'">publicado</a>
                            <a class="estado-noCreado" v-if="curso.estado===null">aun no creado</a>


                        </div>
                        <div class="card-body">
                            <form>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Categoría</label>
                                            <select v-on:click = "iniciarBoton()" v-model="curso.categoria" type="text" class="form-control">
                                                <option v-for="categoria in categorias" :value="categoria">{{categoria.nombre}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Nombre del curso</label>
                                            <input v-on:click = "iniciarBoton()" v-model="curso.nombre" type="text" class="form-control"  placeholder="Ingresá el nombre del curso " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Qué se va a aprender</label>
                                            <textarea v-on:click = "iniciarBoton()" v-model="curso.detalle" type="text" class="form-control"  placeholder="Qué va a aprender el Arkidian" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating">Edades</label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>desde</label>
                                                    <input v-on:click = "iniciarBoton()" v-model="curso.edadDesde" type="number" class="form-control" max="15" min="3" >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>hasta</label>
                                                    <input v-on:click = "iniciarBoton()" v-model="curso.edadHasta" type="number" class="form-control" max="15" min="3" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Proveedor</label>
                                            <select v-on:click = "iniciarBoton()" v-model="curso.proveedor" type="text" class="form-control">
                                                <option v-for="proveedor in proveedores" :value="proveedor">{{proveedor.nombre_proveedor}}</option>
                                            </select>
                                        </div>  
                                    </div>
                                </div>
                                <h6 v-if="errorCurso" style="color: darkred">
                                        {{msgErrorCurso}}
                                        </h6>
                                <button v-if="!curso.creado && curso.categoria && curso.detalle && curso.nombre && curso.edadDesde && curso.edadHasta && curso.proveedor" type="button" class="btn btn-primary" @click="crearCurso(curso)">Crear Curso</button>
                                <button id="btnGrabarCurso" v-if="curso.creado" type="button" class="btn btn-primary" @click="grabarCurso(curso)">Grabar curso</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>

    <section v-if="mostrarContenido"> 
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Contenido del curso</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Nombre del contenido</label>
                                                <input v-on:click="errorContenido=null" v-model="contenido.nombre" type="text" class="form-control"  placeholder="Ingresá el nombre del contenido del curso ">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Orden</label>
                                                    <input v-on:click="errorContenido=null" v-model="contenido.orden" type="number" min = 1 class="form-control" >
                                                </div>
                                            </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>URL del contenido</label>
                                                <input v-on:click="errorContenido=null" v-model="contenido.URLContenido" type="text" class="form-control"   placeholder="Ingresá la URL del contenido ">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>URL de la imagen (thumbnail)</label>
                                                <input v-on:click="errorContenido=null" v-model="contenido.URLImagen" type="text" class="form-control"   placeholder="Ingresá la URL de la imagen del contenido ">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-secondary" @click="insertarContenido(contenido)">Insertar Contenido</button>

                                    <h6 v-if="errorContenido" style="color: darkred">
                                        {{msgErrorContenido}}
                                      </h6>

                                    <div class="row" v-if="contenidos.length>0">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class=" text-primary">
                                                                <tr>
                                                                <th v-for="col in columns_contenido" >{{col}}</th>
                                                                <th>Acción</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="contenido in get_rows_contenido()">
                                                                    <td v-for="col in columns_contenido">{{contenido[col]}}</td>
                                                                    <td><button type="button" class="btn btn-danger" @click="quitarContenido(contenido.id)">Eliminar</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>

    <section v-if="mostrarChallenge"> 
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Challenges del curso</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Nombre del Challenge</label>
                                            <input v-on:click="errorChallenge=null" v-model="challenge.nombre" type="text" class="form-control"  placeholder="Ingresá el challenge ">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Orden</label>
                                            <input v-on:click="errorChallenge=null" v-model="challenge.orden" type="number" min = 1 class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Explicación del challenge</label>
                                            <textarea v-on:click="errorChallenge=null" v-model="challenge.explicacion" type="text" class="form-control"  placeholder="Explicá de qué se trata el challenge" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="button" class="btn btn-secondary" @click="insertarChallenge(challenge)">Insertar Challenge</button>
                                <h6 v-if="errorChallenge" style="color: darkred">
                                    {{msgErrorChallenge}}
                                  </h6>
                                <div class="row" v-if="challenges.length>0">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <tr>
                                                            <th v-for="col in columns_challenge" >{{col}}</th>
                                                            <th>Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="challenge in get_rows_challenge()">
                                                                <td v-for="col in columns_challenge">{{challenge[col]}}</td>
                                                                <td>
                                                                    <button type="button" class="btn btn-danger" @click="quitarChallenge(challenge.id)">Eliminar</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>

    <div style="text-align: center"> 
        <button  type="button" class="btn btn-secondary" @click="volver()">Volver</button>
        <button v-if="curso.creado" type="button" class="btn btn-primary" @click="previsualizar()">Previsualizar curso</button>
        <button v-if="curso.estado==='B'" type="button" class="btn btn-success" @click="publicar(curso)">Publicar</button>
        <button v-if="curso.estado==='P'" type="button" class="btn btn-danger" @click="anularPublicacion(curso)">Anular Publicación</button>

    </div>
   
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/newCourse.js" type="text/javascript"></script>
<script src="js/animaciones.js" type="text/javascript"></script>
<script src="js/menu-arkidia.js" type="text/javascript"></script>






</body>
</html>