<!DOCTYPE html>
<html>
<title>Curso de actualización: Epoc</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/w3.css">
<link rel="stylesheet" href="style/style-site.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="icon.png">
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/bodymin-animation.min.js" type="text/javascript"></script>
<script src="js/bodymovin.js"></script>

<link rel="icon" href="icon.png">

<script>
$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 300, function(){
           window.location.hash = hash;
      });
    } 
  });
});
</script>

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#home").fadeIn();
    });
});
</script>

<style>

</style>

<body>
<div class="w3-top">
<!-- Menú -->
  <div class="w3-card-2 bgimg-2 w3-padding-12"  id="myNavbar">
    
      <img href="index.html" src="images/logo.svg" alt="Respiratory Xchange" style="padding-top: 10px; margin-left:10px;width:270px">
    <div class="w3-right w3-hide-small w3-hide-medium w3-padding-24">
      <a href="#welcome" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Home</a>
      <a href="#Objetivo" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Objetivo</a>
      <a href="#Modalidad" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Modalidad</a>
      <a href="#Certificacion" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Certificación</a>
      <a href="#Docentes" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Docentes</a>
      <a href="#Desarrollo" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Contenido</a>
      <a href="#Inscripcion" class="w3-bar-item w3-button w3-text-grey w3-white w3-hover-blue" style="border-radius: 10px">Inscripción</a>
      <a href="https://campus.on-education.com.ar/" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Campus</a>


    </div>
    <a href="javascript:void(0)" style="font-size: 20px" class="w3-bar-item w3-text-grey w3-button w3-right w3-hide-large w3-hover-blue" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<!-- Menú sidebar -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-large" style="display:none; margin:0px; top:0px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-smallw3-padding-16">Cerrar ×</a>
  <a href="#welcome" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Home</a>
  <a href="#Objetivo" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Objetivo</a>
  <a href="#Modalidad" onclick="w3_close()"class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Modalidad</a>
  <a href="#Certificacion" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Certificación</a>
  <a href="#Docentes" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Docentes</a>
  <a href="#Desarrollo" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Contenido</a>
  <a href="#Inscripcion" onclick="w3_close()" class="w3-bar-item w3-button w3-text-white w3-hover-blue w3-dark-grey">Inscripción</a>
  <a href="https://campus.on-education.com.ar/" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Campus</a>

</nav>
 

<div id="app">

    <div class="loader">
        <div
        class="bodymovin"
        data-icon="json/ciencia.json"
        data-aplay="true"
        data-loop="true"
        style="width:100px"
      ></div>
      </div>


    <section id="welcome" style="height: 500px; padding: 40px 16% 0px">
      <div style="display:table-cell; vertical-align: middle; text-align: left">
        <div style="margin:30px">
          <h3>{{curso.titulo}}</h3>
          <h1>{{curso.subtitulo}}</h1>
        </div>
      </div>
    </section>

    <section id="Objetivo">
      <img src="images/objetivos.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Objetivos del curso</h2>
      <ul class="triangle padding-left-responsive">
        <li v-for="objetivo in curso.objetivos">{{objetivo}}</li>
      </ul>
    </section>

    <section id="Modalidad">
      <img src="images/modalidad.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Modalidad del curso</h2>
      <ul class="triangle padding-left-responsive" v-for="elemento in curso.modalidad">
        <li>{{elemento}}</li>
    </section>


    <section id="Certificacion">
      <img src="images/certificacion.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Certificación</h2>
      <div class="detalle">{{curso.certificacion}}</div>
    </section>

    <section id="Certificado">
      <img src="images/certificado.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Certificado</h2>
      <div class="detalle">{{curso.certificado}}</div>
    </section>

    <section id="Docentes">
      <img src="images/docentes.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Docentes</h2>
      <div class="card-group">
        <div class="card underlineHover" v-on:click="myFunction(docente.nombre)" v-for="docente in curso.docentes"
          style="padding:20px; min-width:300px; max-width:300px; align-items: center; text-align: center; cursor: pointer">
          <img src="images/docente.svg" class="card-img-top" :alt="docente.nombre" style="width:80px">
          <div class="card-body">
            <h5 class="card-title">{{docente.nombre}}</h5>
            <p class="card-text">{{docente.nacionalidad}}</p>
            <p  style="font-size: 10px">Ver Biografía</p>
            <div :id="docente.nombre" class="w3-container w3-hide">
              <p>{{docente.bio}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="Desarrollo">
      <img src="images/contenido.svg" class="card-img-top" alt="contenido" style="width:80px">
      <h2>Desarrollo del curso</h2>
      <div v-for="desarrollo in curso.desarrollos" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{desarrollo.titulo}} - {{desarrollo.subtitulo}}</h5>
          <p class="card-text docente">{{desarrollo.docente}} - {{desarrollo.nacionalidad}}</p>
        </div>
        <ul class="list-group list-group-flush" v-for="contenido in desarrollo.contenidos">
          <li class="list-group-item detalle">{{contenido}}</li>
        </ul>
        <div style="padding-left:15px">
        <p v-if="desarrollo.objetivos.length>0" v-on:click="myFunction(desarrollo.titulo)"  class="objetivos">Ver objetivos del curso</p>
        <div :id="desarrollo.titulo" class="w3-container w3-hide">
            <ul class="list-group list-group-flush" v-for="objetivo in desarrollo.objetivos">
                <li class="list-group-item detalle">{{objetivo}}</li>
            </ul>
        </div>

      </div>

      </div>
    </section>

    <section id="Inscripcion">
      <img src="images/inscripcion.svg" class="card-img-top" alt="inscripcion" style="width:80px">
      <h2>Inscripción</h2>
      <form>
        <div class="form-group">
          <label for="inputNombre" required>Nombre y Apellido <a v-if="error.nombre" style="color: darkred">Debés ingresar tu nombre y apellido</a></label>
          <input v-model="inscripcion.nombre" @click="error.nombre=false" type="nombre" class="form-control" id="inputNombre" aria-describedby="nombre" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMail">Correo electrónico <a v-if="error.mail" style="color: darkred">Debés ingresar tu dirección de correo electrónico</a></label>
          <input v-model="inscripcion.mail"  @click="error.mail=false"maxlength="50" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          <small id="emailHelp" class="form-text text-muted">Sólo usaremos esta dirección de correo electrónico para la
            inscripción</small>
        </div>
        <div class="form-group">
          <label for="inputTelefono">Teléfono <a v-if="error.telefono" style="color: darkred">Debés ingresar tu número de teléfono</a></label>
          <input v-model="inscripcion.telefono" @click="error.telefono=false" maxlength="30" type="phone" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputCiudad">Ciudad <a v-if="error.ciudad" style="color: darkred">Debés ingresar la ciudad donde vives</a></label>
          <input v-model="inscripcion.ciudad" @click="error.ciudad=false" maxlength="50" type="city" class="form-control" id="inputCiudad" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputPais">País <a v-if="error.pais" style="color: darkred">Debés ingresar tu nacionalidad</a></label>
          <input v-model="inscripcion.pais" @click="error.pais=false" maxlength="50" type="country" class="form-control" id="inputCountry" aria-describedby="country" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputEspecialidad">Especialidad <a v-if="error.especialidad"  style="color: darkred">Debés ingresar tu especialidad</a></label>
          <input v-model="inscripcion.especialidad" @click="error.especialidad=false" maxlength="50" type="especialidad" class="form-control" id="inputEspecialidad" aria-describedby="especialidad" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMatricula">Número de Matrícula <a v-if="error.matricula" style="color: darkred">Debés ingresar tu número de matrícula</a></label>
          <input v-model="inscripcion.matricula" @click="error.matricula=false" maxlength="50" type="matricula" class="form-control" id="inputMatricula" aria-describedby="matricula" placeholder="">
        </div>
        <label for="inputMatricula">Tengo una Beca</label>
        <label class="switch">
          <input @click="switchBeca()" type="checkbox">
          <span class="slider round"></span>
        </label>
        <div v-if="beca" class="form-group">
          <label for="inputBeca">Beca</label>
          <input v-model="inscripcion.beca" maxlength="20" type="beca" class="form-control" id="inputBeca" aria-describedby="beca" placeholder="">
        </div>
      </form>
      <p v-if="errorForm" style="color: firebrick">Hubo un error, verificá los datos e intentá nuevamente</p>
      <div v-if="inscripcionOk" style="text-align: center">
        <img src="images/inscripcion-ok.svg" class="card-img-top" alt="inscripcion" style="width:80px">
        <h2 style="margin-right: 0px !important; text-align: center;">¡Muchas gracias! Ya registramos tu solicitud</h2>
      </div>
      <div v-if="inscripcionDuplicada" style="text-align: center">
          <img src="images/inscripcion-ok.svg" class="card-img-top" alt="inscripcion" style="width:80px">
          <h2 style="margin-right: 0px !important; text-align: center;">Ya tenemos registrada una inscripción con esa dirección de correo electrónico.</h2>
        </div>
      <button v-if="!inscripcionOk && !inscripcionDuplicada" @click="solicitarBeca(inscripcion)"  class="btn btn-primary">{{accionForm}}</button>
    </section>
  </div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="color: white; background-color:#004587 ;
; margin-top:100px">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row" style="justify-content: center">
          <div class="col-md-2">
              <img href="index.html" src="images/alat.png" alt="Respiratory Xchange" style="padding-top: 10px; margin-left:10px;height:60px">

          </div>
          <div class="col-md-2">
              <img href="index.html" src="images/boehringer.png" alt="Respiratory Xchange" style="padding-top: 10px; margin-left:10px;height:60px">

          </div>
      </div>
  
    </div>
  
    <div class="footer-copyright text-center" style="color: white; font-size: 12px; padding:30px">Desarrollado por
      <a href="http://www.on-education.com.ar/" style="color: white; font-size: 12px"> On-Education</a>
    </div>
  
  </footer>
  <!-- Footer -->




<script src="js/index.js" type="text/javascript"></script>
<script src="js/animaciones.js" type="text/javascript"></script>


<script>
var mySidebar = document.getElementById("mySidebar");
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

function w3_close() {
    mySidebar.style.display = "none";
}

</script>




</body>
</html>