<!DOCTYPE html>
<html>
<title>Manejo y tratamiento de la EPOC</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="style/style-site.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script src="js/bodymin-animation.min.js" type="text/javascript"></script>
<script src="js/bodymovin.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">


<body>
  <div class="loader">
    <div class="logo-size bodymovin" data-icon="json/loader.json" data-aplay="true" data-loop="false"
      style="width:100px"></div>
  </div>

  <div id="app">






    
    <header class="pantalla-completa" id="welcome">
      <nav class="navbar navbar-expand-lg navbar-light menu-style fixed-top">
        <a class="navbar-brand" href="#welcome">
          <img src="images/logo.svg" width="300px" alt="Boehringer Ingelheim">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link menu-item" data-toggle="collapse" href="#Objetivo">Objetivo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="#Modalidad">Modalidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="#Certificacion">Certificación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="#Docentes">Docentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="#Desarrollo">Programa</a>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-item" href="#Contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item btn-success" href="#Inscripcion">Inscripción</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section id="welcome" style="height: 400px; padding: 40px 16% 0px">
      <div style="display:table-cell; vertical-align: middle; text-align: left">
        <div style="margin:30px">
          <h3>{{curso.titulo}}</h3>
          <h1>{{curso.subtitulo}}</h1>
        </div>
      </div>
    </section>

    <section id="Objetivo">
      <img src="images/objetivos.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Objetivos del curso</h2>
      <ul class="triangle">
        <li v-for="objetivo in curso.objetivos">{{objetivo}}</li>
      </ul>
    </section>

    <section id="Modalidad">
      <img src="images/modalidad.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Modalidad del curso</h2>
      <ul class="triangle" v-for="elemento in curso.modalidad">
        <li>{{elemento}}</li>
    </section>


    <section id="Certificacion">
      <img src="images/certificacion.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Certificación</h2>
      <div class="detalle">{{curso.certificacion}}</div>
    </section>

    <section id="Certificado">
      <img src="images/certificado.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Certificado</h2>
      <div class="detalle">{{curso.certificado}}</div>
    </section>

    <section id="Docentes">
      <img src="images/docentes.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Docentes</h2>
      <div class="card-group">
        <div class="card" v-for="docente in curso.docentes"
          style="padding:20px; min-width:300px; max-width:300px; align-items: center; text-align: center">
          <img src="images/docente.svg" class="card-img-top" :alt="docente.nombre" style="width:80px">
          <div class="card-body">
            <h5 class="card-title">{{docente.nombre}}</h5>
            <p class="card-text">{{docente.nacionalidad}}</p>
          </div>
        </div>
      </div>

    </section>

    <section id="Desarrollo">
      <img src="images/contenido.svg" class="card-img-top" alt="contenido" style="width:80px">
      <h2>Desarrollo del curso</h2>
      <div v-for="desarrollo in curso.desarrollos" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{desarrollo.titulo}} - {{desarrollo.subtitulo}}</h5>
          <p class="card-text docente">{{desarrollo.docente}} - {{desarrollo.nacionalidad}}</p>
        </div>
        <ul class="list-group list-group-flush" v-for="contenido in desarrollo.contenidos">
          <li class="list-group-item detalle">{{contenido}}</li>
        </ul>
      </div>
    </section>

    <section id="Inscripcion">
      <img src="images/inscripcion.svg" class="card-img-top" alt="inscripcion" style="width:80px">
      <h2>Inscripción</h2>


      <form>
        <div class="form-group">
          <label for="inputNombre">Nombre y Apellido</label>
          <input type="nombre" class="form-control" id="inputNombre" aria-describedby="nombre" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          <small id="emailHelp" class="form-text text-muted">Sólo usaremos esta dirección de correo electrónico para la
            inscripción</small>
        </div>
        <div class="form-group">
          <label for="inputTelefono">Teléfono</label>
          <input type="phone" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputCiudad">Ciudad</label>
          <input type="city" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputPais">País</label>
          <input type="country" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputEspecialidad">Especialidad</label>
          <input type="especialidad" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMatricula">Número de Matrícula</label>
          <input type="matricula" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputNombre">Beca</label>
          <input type="especialidad" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Inscribir</button>
        <button type="submit" class="btn btn-primary">Solicitar Beca</button>

      </form>

    </section>

  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="js/animaciones.js" type="text/javascript"></script>
  <script src="js/index.js" type="text/javascript"></script>
</body>

</html>