<!DOCTYPE html>
<html>
<title>Insights Beacon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/w3.css">
<link rel="stylesheet" href="style/style-site.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="icon.png">
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<script>
$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 300, function(){
           window.location.hash = hash;
      });
    } 
  });
});
</script>

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#home").fadeIn();
    });
});
</script>

<style>

</style>

<body>
<div class="w3-top">
<!-- Menú -->
  <div class="w3-card-2 bgimg-2 w3-padding-12"  id="myNavbar">
      <img href="index.html" src="images/logo.svg" alt="INSIGHTS BEACON" style="padding-top: 10px; margin-left:10px;width:270px">
    <div class="w3-right w3-hide-small w3-hide-medium w3-padding-24">
      <a href="#welcome" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Home</a>
      <a href="#Objetivo" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Objetivo</a>
      <a href="#Modalidad" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Modalidad</a>
      <a href="#Certificacion" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Certificación</a>
      <a href="#Docentes" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Docentes</a>
      <a href="#Desarrollo" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Contenido</a>
      <a href="#Inscripcion" class="w3-bar-item w3-button w3-text-grey w3-light-blue w3-hover-blue">Inscripción</a>


    </div>
    <a href="javascript:void(0)" style="font-size: 20px" class="w3-bar-item w3-text-grey w3-button w3-right w3-hide-large w3-hover-blue" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<!-- Menú sidebar -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-large" style="display:none; margin:0px; top:0px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-smallw3-padding-16">Cerrar ×</a>
  <a href="#welcome" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Home</a>
  <a href="#Objetivo" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Objetivo</a>
  <a href="#Modalidad" onclick="w3_close()"class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Modalidad</a>
  <a href="#Certificacion" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Certificación</a>
  <a href="#Docentes" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Docentes</a>
  <a href="#Desarrollo" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Contenido</a>
  <a href="#Inscripcion" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-blue">Inscripción</a>

</nav>
 

<div id="app">
    <section id="welcome" style="height: 500px; padding: 40px 16% 0px">
      <div style="display:table-cell; vertical-align: middle; text-align: left">
        <div style="margin:30px">
          <h3>{{curso.titulo}}</h3>
          <h1>{{curso.subtitulo}}</h1>
        </div>
      </div>
    </section>

    <section id="Objetivo">
      <img src="images/objetivos.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Objetivos del curso</h2>
      <ul class="triangle">
        <li v-for="objetivo in curso.objetivos">{{objetivo}}</li>
      </ul>
    </section>

    <section id="Modalidad">
      <img src="images/modalidad.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Modalidad del curso</h2>
      <ul class="triangle" v-for="elemento in curso.modalidad">
        <li>{{elemento}}</li>
    </section>


    <section id="Certificacion">
      <img src="images/certificacion.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Certificación</h2>
      <div class="detalle">{{curso.certificacion}}</div>
    </section>

    <section id="Certificado">
      <img src="images/certificado.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Certificado</h2>
      <div class="detalle">{{curso.certificado}}</div>
    </section>

    <section id="Docentes">
      <img src="images/docentes.svg" class="card-img-top" alt="objetivos" style="width:80px">

      <h2>Docentes</h2>
      <div class="card-group">
        <div class="card" v-on:click="myFunction(docente.nombre)" v-for="docente in curso.docentes"
          style="padding:20px; min-width:300px; max-width:300px; align-items: center; text-align: center; cursor: pointer">
          <img src="images/docente.svg" class="card-img-top" :alt="docente.nombre" style="width:80px">
          <div class="card-body">
            <h5 class="card-title">{{docente.nombre}}</h5>
            <p class="card-text">{{docente.nacionalidad}}</p>
            <div :id="docente.nombre" class="w3-container w3-hide">
              <p>{{docente.bio}}</p>
            </div>

          </div>
        </div>
      </div>

    </section>

 

    
    <section id="Desarrollo">
      <img src="images/contenido.svg" class="card-img-top" alt="contenido" style="width:80px">
      <h2>Desarrollo del curso</h2>
      <div v-for="desarrollo in curso.desarrollos" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{desarrollo.titulo}} - {{desarrollo.subtitulo}}</h5>
          <p class="card-text docente">{{desarrollo.docente}} - {{desarrollo.nacionalidad}}</p>
        </div>
        <ul class="list-group list-group-flush" v-for="contenido in desarrollo.contenidos">
          <li class="list-group-item detalle">{{contenido}}</li>
        </ul>
      </div>
    </section>

    <section id="Inscripcion">
      <img src="images/inscripcion.svg" class="card-img-top" alt="inscripcion" style="width:80px">
      <h2>Inscripción</h2>
      <form>
        <div class="form-group">
          <label for="inputNombre">Nombre y Apellido</label>
          <input type="nombre" class="form-control" id="inputNombre" aria-describedby="nombre" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          <small id="emailHelp" class="form-text text-muted">Sólo usaremos esta dirección de correo electrónico para la
            inscripción</small>
        </div>
        <div class="form-group">
          <label for="inputTelefono">Teléfono</label>
          <input type="phone" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputCiudad">Ciudad</label>
          <input type="city" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputPais">País</label>
          <input type="country" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputEspecialidad">Especialidad</label>
          <input type="especialidad" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMatricula">Número de Matrícula</label>
          <input type="matricula" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputNombre">Beca</label>
          <input type="especialidad" class="form-control" id="inputNombre" aria-describedby="city" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Inscribir</button>
        <button type="submit" class="btn btn-primary">Solicitar Beca</button>

      </form>

    </section>

  </div>







<script src="js/index.js" type="text/javascript"></script>

<script>
var mySidebar = document.getElementById("mySidebar");
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

function w3_close() {
    mySidebar.style.display = "none";
}

</script>


</body>
</html>