<!DOCTYPE html>
<html>
  <title>Manejo y tratamiento de la EPOC</title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="style/style-site.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bodymin-animation.min.js" type="text/javascript"></script>
  <script src="js/bodymovin.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">

  
  <body>
      <div class="loader">
          <div
          class="logo-size bodymovin"
          data-icon="json/loader.json"
          data-aplay="true"
          data-loop="false"
          style="width:100px"
        ></div>
      </div>

    <div id="app">
      <header class="pantalla-completa" id="index">
          <nav class="navbar navbar-expand-lg navbar-light menu-style fixed-top">
              <a class="navbar-brand" href="SitioPadre.html">
                  <img src="images/logo.svg" width="300px" alt="Boehringer Ingelheim">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="#">Programa</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="hijos.html">Docentes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="index.html">Modalidad</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link menu-item"  href="index.html">Inscripción</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link menu-item"  href="index.html">Certificación</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link menu-item"  href="index.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </nav>
      </header>

      <section id="welcome" style="height: 400px; padding: 40px 16%" >
          <div style="display:table-cell; vertical-align: middle; text-align: left" >
            <div style="margin:30px">
            <h3>{{curso.titulo}}</h3>
            <h1>{{curso.subtitulo}}</h1>
          </div>
          </div>
      </section>

      <section style="margin:30px; padding: 20px 8%">
        <h2>Objetivos del curso</h2>
        <ul class="triangle" >
        <li v-for="objetivo in curso.objetivos">{{objetivo}}</li>
        </ul>
      </section>

      <section style="margin:30px; padding: 20px 8%">
        <h2>Modalidad del curso</h2>
        <ul class="triangle" v-for="elemento in curso.modalidad">
        <li >{{elemento}}</li>
      </section>
      

      <section style="margin:30px; padding: 20px 8%">
        <h2>Certificación</h2>
        <div class="detalle">{{curso.certificacion}}</div>
      </section>

      <section style="margin:30px; padding: 20px 8%">
        <h2>Certificado</h2>
        <div class="detalle">{{curso.certificado}}</div>
      </section>

      <section style="margin:30px; padding: 20px 8%">
        <h2>Docentes</h2>
        <div class="card-group">
          <div class="card" v-for="docente in curso.docentes" style="padding:20px; min-width:300px; max-width:300px; align-items: center; text-align: center">
            <img :src="docente.imagen" class="card-img-top" :alt="docente.nombre" style="width:80px"> 
            <div class="card-body">
              <h5 class="card-title">{{docente.nombre}}</h5>
              <p class="card-text">{{docente.nacionalidad}}</p>
            </div>
          </div>
        </div>

      </section>

      <section style="margin:30px; padding: 20px 8%">
        <h2>Desarrollo del curso</h2>

      <div v-for="desarrollo in curso.desarrollos" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{desarrollo.titulo}} - {{desarrollo.subtitulo}}</h5>
          <p class="card-text docente">{{desarrollo.docente}} - {{desarrollo.nacionalidad}}</p>

        </div>
        <ul class="list-group list-group-flush" v-for="contenido in desarrollo.contenidos">
          <li class="list-group-item detalle">{{contenido}}</li>

        </ul>

      </div>
      </section>



    </div>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="js/animaciones.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
  </body>
</html>
